{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'My Blog &raquo; Blogposts &raquo; Detail &raquo; Comments' %}

{% block pageContent %}
	<p class="breadcrumb"><a href="{{ app.request.baseUrl }}/">Home</a> &raquo; <a href="{{ app.request.baseUrl }}/blog">Blogposts</a> &raquo; <a href="{{ app.request.baseUrl }}/blog/{{ blogpost.id }}">{{ blogpost.title }}</a> &raquo; Comments</p>

	<section class="comments">
		<h1>Comments on &ldquo;{{ blogpost.title }}&rdquo;</h1>
		{% if comments %}
			{% for comment in comments %}
			<article>
				<p>On <em>{{ comment.date }}</em>, <em><a href="mailto:{{ comment.email }}">{{ comment.author }}</a></em> wrote:</p>
				<blockquote>{{ comment.content|raw }}</blockquote>
			</article>
			{% endfor %}
		{% else %}
		<p>No comments to show!</p>
		{% endif %}
	</section>

	<p><a href="{{ app.request.baseUrl }}/blog/{{ blogpost.id }}">&larr; Back to blogpost</a></p>
{% endblock %}