{# extend the parent tpl #}
{% extends 'consoleDietician.twig' %}

{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Dietist | Nieuwe klant' %}
{% set contentId = 'console' %}
{% set javascript = 'dieticianNewCustomer' %}
{% set jsPlugin = 'jquery.numeric' %}

{# set variables in the console tpl #}
{% set customersActive = 'activeCustomers' %}
{% block subheader %}
    Nieuwe klant toevoegen
{% endblock %}

{% block consolePageContent %}

<div id="addCustomer" class="clearfix">
    <form id="newCustomer" method="POST" class="clearfix">
        <div class="inputFields">
            <h3>Klant gegevens</h3>
            <div class="input">
                <label>Geslacht</label>
                <input type="radio" id="genderMale" name="gender" value="M" checked="checked">Man<br />
                <input type="radio" id="genderFemale" name="gender" value="F">Vrouw<br />
            </div>
            <div class="input">
                <label>Naam</label>
                <input type="text" name="name" required>
            </div>
            <div class="input">
                <label>Geboortedatum</label>
                <select id="day" name="day" required>
                    <option value="">Dag:</option>
                    {% for key, value in days %}
                    <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                </select>
                <select id="month" name="month" required>
                    <option value="">Maand:</option>
                    {% for key, value in months %}
                    <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                </select>
                <select id="year" name="year" required>
                    <option value="">Jaar:</option>
                    {% for year in years %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input">
                <label>Email</label>
                <input type="email" name="email" required>
            </div>
            <div class="input">
                <label>Lengte <span class="infoInput">(in cm)</span></label>
                <input type="number" class="spinner" id="spinnerHeight" name="height" value="160" required>
            </div>
            <div class="input">
                <label>Gewicht <span class="infoInput">(in kg)</span></label>
                <input type="number" class="spinner" id="spinnerWeight" name="weight" value="60" required>
            </div>
            <div class="input">
                <label>PAL <span class="infoInput">(Physical Activity Level)</span></label>
                <input id="PALInput" type="range" name="pal" max="3" min="1" step="1" value="2"><span id="PAL">&nbsp;</span>
            </div>
        </div>
        <div class="infoFromInput">
            <h3>Dieetgegevens</h3>
            <div class="input">
                <label id="age">Leeftijd <span id="ageSpan">&nbsp;</span></label>
            </div>
            <div class="input">
                <label id="BMI">BMI <span class="infoInput">(Body Mass Index)</span> <span id="bmiSpan">&nbsp;</span></label>
                <ul id="bmiList">
                    <li class="bmi1" title="Ondergewicht">&lt; 18.5</li>
                    <li class="bmi2" title="Gezond gewicht">18.6 &ndash; 25.0</li>
                    <li class="bmi3" title="Overgewicht">25.1 &ndash; 30.0</li>
                    <li class="bmi4" title="Obesitas">30.1 &ndash; 35.0</li>
                    <li class="bmi5" title="Extreme obesitas">&gt; 35.1</li>
                </ul>
                <input type="hidden" name="bmi" value="">
            </div>
            <h4>Aanbevolen dagelijkse hoeveelheid</h4>
            <div class="input">
                <label id="kcal">Energie</label>
                <p id="kcalSpan">
                    <span class="value">0</span>
                    <input class="number" type="hidden" name="kcal" value="">
                    kcal 
                    <span class="editData">Wijzig</span> <span class="editOk">Ok</span>
                </p>
            </div>
            <div class="input">
                <label id="carbs">Koolhydraten</label>
                <p id="carbsSpan">
                    <span class="value">0</span>
                    <input class="number" type="hidden" name="carbs" value="0">
                    g
                    <span class="editData">Wijzig</span> <span class="editOk">Ok</span>
                </p>
            </div>            
            <div class="input">
                <label id="sugars">Suikers</label>
                <p id="sugarsSpan">
                    <span class="value">0</span>
                    <input class="number" type="hidden" name="sugars" value="0">
                    g
                    <span class="editData">Wijzig</span> <span class="editOk">Ok</span>
                </p>
            </div>
            <div class="input">
                <label id="proteins">Eiwitten</label>
                <p id="proteinsSpan">
                    <span class="value">0</span>
                    <input class="number" type="hidden" name="proteins" value="0">
                    g
                    <span class="editData">Wijzig</span> <span class="editOk">Ok</span>
                </p>
            </div>
            <div class="input">
                <label id="fats">Vetten</label>
                <p id="fatsSpan">
                    <span class="value">0</span>
                    <input class="number" type="hidden" name="fats" value="0">
                    g
                    <span class="editData">Wijzig</span> <span class="editOk">Ok</span>
                </p>
            </div>
            <div class="input">
                <label id="cholesterol">Cholesterol</label>
                <p id="cholesterolSpan">
                    max <span class="value">300</span>
                    <input class="number" type="hidden" name="cholesterol" value="300">
                    mg
                    <span class="editData">Wijzig</span> <span class="editOk">Ok</span>
                </p>
            </div>
            <div class="input">
                <label id="fibres">Vezels</label>
                <p id="fibresSpan">
                    min <span class="value">30</span>
                    <input class="number" type="hidden" name="fibres" value="30">
                    g
                    <span class="editData">Wijzig</span> <span class="editOk">Ok</span>
                </p>
            </div>
            <div class="input">
                <label id="sodium">Natrium</label>
                <p id="sodiumSpan">
                    min <span class="value">600</span>
                    <input class="number" type="hidden" name="sodium" value="600">
                    mg
                    <span class="editData">Wijzig</span> <span class="editOk">Ok</span>
                </p>
            </div>
            <div class="input">
                <label id="comments">Opmerkingen / Commentaar</label>
                <textarea name="comments"></textarea>
            </div> 
            
        </div>
        <div class="submitField">
            <input type="submit" value="Voeg toe">
        </div>
    </form>
</div>

{% endblock %}