{# extend the parent tpl #}
{% extends 'consoleDietician.twig' %}

{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Nieuwe klant' %}
{% set contentId = 'console' %}
{% set javascript = 'dieticianNewCustomer' %}

{# set variables in the console tpl #}
{% set customersActive = true %}

{% block subheader %}
    <h1>Nieuwe klant toevoegen</h1>
{% endblock %}
    
{% set breadcrumb = true %}    
{% block breadcrumb %}
    <a title="Klanten" href="{{ app.request.baseUrl }}/dietist/klanten">Klanten</a> <span class="current">Nieuwe klant toevoegen</span>
{% endblock %}

{% block consolePageContent %}

<div id="addCustomer" class="clearfix">
    <form id="newCustomer" method="POST" class="clearfix">
        <div class="inputFields">
            <h2>Klant gegevens</h2>
            <div class="input">
                <label>Geslacht</label>
                <div class="radio"><input type="radio" id="genderMale" name="gender" value="M" checked="checked"><span class="male">Man</span></div>
                <div class="radio"><input type="radio" id="genderFemale" name="gender" value="F"><span class="female">Vrouw</span></div>
            </div>
            <div class="input">
                <label>Naam</label>
                <input type="text" name="name" required>
            </div>
            <div class="input">
                <label>Geboortedatum</label>
                <select id="day" name="day" required>
                    <option value="">Dag:</option>
                    {% for key, value in days %}
                    <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                </select>
                <select id="month" name="month" required>
                    <option value="">Maand:</option>
                    {% for key, value in months %}
                    <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                </select>
                <select id="year" name="year" required>
                    <option value="">Jaar:</option>
                    {% for year in years %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input">
                <label id="age">Leeftijd: <span id="ageSpan">&nbsp;</span></label>
            </div>            
            <div class="input">
                <label>Email</label>
                <input type="email" name="email" required>
            </div>
            <div class="input">
                <label>Telefoon nummer</label>
                <input type="text" name="phone">  
            </div>
            <div class="input">
                <label class="height">Lengte <span class="infoInput">(in cm)</span></label>
                <input type="number" class="spinner" id="spinnerHeight" name="height" value="160" required>
            </div>
            <div class="input">
                <label class="weight">Gewicht <span class="infoInput">(in kg)</span></label>
                <input type="number" class="spinner" id="spinnerWeight" name="weight" value="60" required>
            </div>
            <div class="input">
                <label class="pal">PAL <span class="infoInput">(Physical Activity Level)</span></label>
                <input id="PALInput" type="hidden" name="pal" value="">
                <div id="palSlider"></div>
                <span id="PAL">&nbsp;</span>
            </div>
        </div>
        <div class="infoFromInput">
            <h2>Body Mass Index</h2>
            <div class="input inputBMI">
                <label id="BMI"><span id="bmiSpan">&nbsp;</span></label>
                <ul id="bmiList">
                    <li class="bmi1 tooltip" title="Ondergewicht">&lt; 18.5</li>
                    <li class="bmi2 tooltip" title="Gezond gewicht">18.6 &ndash; 25.0</li>
                    <li class="bmi3 tooltip" title="Overgewicht">25.1 &ndash; 30.0</li>
                    <li class="bmi4 tooltip" title="Obesitas">30.1 &ndash; 35.0</li>
                    <li class="bmi5 tooltip" title="Extreme obesitas">&gt; 35.1</li>
                </ul>
                <input type="hidden" name="bmi" value="">
            </div>
            <h2>Dagelijkse aanbevolen hoeveelheid</h2>
            <div class="input auto">
                <label class="energy" id="kcal">Energie</label>
                <p id="kcalSpan">
                    <span class="value">0</span>
                    <input class="number" type="hidden" name="kcal" value="">
                    <span>kcal</span>
                    <span title="Wijzig" class="editData tooltip">Wijzig</span> <span title="Bewaar" class="editOk tooltip">Ok</span>
                </p>
            </div>
            <div class="input auto">
                <label class="carbs" id="carbs">Koolhydraten</label>
                <p id="carbsSpan">
                    <span class="value">0</span>
                    <input class="number" type="hidden" name="carbs" value="0">
                    <span>g</span>
                    <span title="Wijzig" class="editData tooltip">Wijzig</span> <span title="Bewaar" class="editOk tooltip">Ok</span>
                </p>
            </div>            
            <div class="input auto">
                <label class="sugar" id="sugars">Suikers</label>
                <p id="sugarsSpan">
                    <span class="value">0</span>
                    <input class="number" type="hidden" name="sugars" value="0">
                    <span>g</span>
                    <span title="Wijzig" class="editData tooltip">Wijzig</span> <span title="Bewaar" class="editOk tooltip">Ok</span>
                </p>
            </div>
            <div class="input auto">
                <label class="protein" id="proteins">Eiwitten</label>
                <p id="proteinsSpan">
                    <span class="value">0</span>
                    <input class="number" type="hidden" name="proteins" value="0">
                    <span>g</span>
                    <span title="Wijzig" class="editData tooltip">Wijzig</span> <span title="Bewaar" class="editOk tooltip">Ok</span>
                </p>
            </div>
            <div class="input auto">
                <label class="fat" id="fats">Vetten</label>
                <p id="fatsSpan">
                    <span class="value">0</span>
                    <input class="number" type="hidden" name="fats" value="0">
                    <span>g</span>
                    <span title="Wijzig" class="editData tooltip">Wijzig</span> <span title="Bewaar" class="editOk tooltip">Ok</span>
                </p>
            </div>
            <div class="input auto">
                <label class="cholesterol" id="cholesterol">Cholesterol (max)</label>
                <p id="cholesterolSpan">
                    <span class="value">300</span>
                    <input class="number" type="hidden" name="cholesterol" value="300">
                    <span>mg</span>
                    <span title="Wijzig" class="editData tooltip">Wijzig</span> <span title="Bewaar" class="editOk tooltip">Ok</span>
                </p>
            </div>
            <div class="input auto">
                <label class="fibre" id="fibres">Vezels (min)</label>
                <p id="fibresSpan">
                    <span class="value">30</span>
                    <input class="number" type="hidden" name="fibres" value="30">
                    <span>g</span>
                    <span title="Wijzig" class="editData tooltip">Wijzig</span> <span title="Bewaar" class="editOk tooltip">Ok</span>
                </p>
            </div>
            <div class="input auto">
                <label class="salt" id="sodium">Natrium (min)</label>
                <p id="sodiumSpan">
                    <span class="value">600</span>
                    <input class="number" type="hidden" name="sodium" value="600">
                    <span>mg</span>
                    <span title="Wijzig" class="editData tooltip">Wijzig</span> <span title="Bewaar" class="editOk tooltip">Ok</span>
                </p>
            </div>
            <div class="input">
                <label id="comments">Opmerkingen</label>
                <textarea name="comments"></textarea>
            </div> 
            
        </div>
        <div class="submitField">
            <input type="submit" value="Voeg toe">
        </div>
    </form>
</div>

{% endblock %}