{# extend the parent tpl #}
{% extends 'consoleDietician.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Console' %}
{% set contentId = 'console' %}
{% set javascript = 'dietician' %}

{# set variables in the console tpl #}
{% set dashboardActive = true %}

{% block subheader %}
    <h1>Welkom {{ dietician.name }}</h1>
{% endblock %}


{% block consolePageContent %}
<div id="dashboard">
    <div id="customersInput">
        <h2>Nieuwe toegevoegde maaltijden</h2>
        {% if newMeals %}
        <ul>
            {% for newMeal in newMeals %}
            <li>
                <a href="{{ app.request.baseUrl }}/dietist/klanten/{{ newMeal.customerId }}">
                    <span class="mealDate">{{ newMeal.dateFormat }}</span>:
                    <span class="customerName">{{ newMeal.customerName }}</span> 
                </a>
                    
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Geen nieuwe toegevoegde maaltijden</p>
        {% endif %}
    </div>
</div>
{% endblock %}