{# extend the parent tpl #}
{% extends 'consoleDietician.twig' %}

{# set the pagetitle in the parent tpl #}
{% set pageTitle = customer.name %}
{% set contentId = 'console' %}
{% set javascript = 'dieticianViewCustomer' %}
{% set jsPlugin = 'jquery.numeric' %}
{% set jchart = true %}

{# set variables in the console tpl #}
{% set customersActive = true %}

{% block subheader %}
    <input type="hidden" id="customerId" value="{{ customer.id }}">
    <input type="hidden" id="dieticianId" value="{{ dietician.id }}">

    <h1>{{ customer.name|raw }}</h1>
    <p>
        <span id="customerGender" class="{% if customer.gender == "M" %}male{% elseif customer.gender == "F" %}female{% endif %}">&nbsp;</span>
        <span class="age">Leeftijd: {{ customer.age }}</span>
        <span class="birthdate">({{ customer.birthdateFormat }})</span>
    </p>  
    <p> 
        <span class="email">{{ customer.email|raw }}</span><br />
        {% if customer.phone %}
        <span class="phone">{{ customer.phone|raw }}</span>
        {% endif %}
    </p>
    <p class="addedDate">Toegevoegd op {{ customer.dateFormat }}</p>
    <div id="deleteCustomer" class="clearfix">
        <a href="#" class="smallButtonLink">Deze klant verwijderen</a>
        <form id="deleteConfirmation" method="POST" class="clearfix">
            <input type="hidden" name="delete" value="deleteOk">
            <input type="submit" class="smallButtonLink" id="deleteConfirm" value="Verwijder">
            <input type="submit" class="smallButtonLink" id="deleteAnnulation" value="Annuleer">
        </form>
    </div>
{% endblock %}

{% set breadcrumb = true %}    
{% block breadcrumb %}
    <a title="Klanten" href="{{ app.request.baseUrl }}/dietist/klanten">Klanten</a> <span class="current">{{ customer.name|raw }}</span>
{% endblock %}

{% block consolePageContent %}
    
    <div id="menuCustomer">
        <h2 class="meals active" id="mealsLink">Voedingsdagboek</h2>
        <h2 class="consultation" id="consultsLink">Consultaties</h2>
        <h2 class="progression" id="progressionLink">Progressie</h2>
        <h2 class="communication" id="communicationLink">Communicatie</h2>
    </div>
    <div class="subfield" id="meals">
        <div id="unseenData"></div>
        <div id="datepickerShowMeals"></div>
        <input type="hidden" id="showMeals" autocomplete="off" />
        <div id="adhperc">
            <ul></ul>
        </div>
        <div id="showMealsDate" class="clearfix">
            <h3></h3>
            <ul>
            </ul>
        </div>     
        <div id="chart"></div>   
    </div>     
    
    <div class="subfield" id="consults">
            <select autocomplete="off" id="previousConsults">
                {% for consultation in consultations %}
                <option value="cons{{ consultation.id}}">{{ consultation.dateFormat }}</option>
                {% endfor %}
            </select>    
        {% for key, consultation in consultations %}
        <div id="cons{{ consultation.id }}" class="consult clearfix">
            <input type="hidden" class="consDateFormat" value="{{ consultation.dateFormat }}" />
            <h3>
                Consultatie <span class="nr">{{ loop.revindex }}</span>/{{ loop.length }}<span class="consDate"></span>
            </h3>            
            <ul class="consult">
                <li class="customerData">Anamnetische gegevens</li>
                <li class="weight">
                    Gewicht:
                    {{ consultation.weight }} kg
                </li>
                <li class="height">
                    Lengte:
                    {{ consultation.height }}cm
                </li>             
                <li class="bmi">
                    BMI:
                    <span class="bmiSpan">{{ consultation.bmi }}</span>
                </li>              
                <li class="pal">
                    PAL:
                    {{ consultation.PAL }}
                </li>            
                <li class="customerData">Dagelijkse aanbevolen hoeveelheid</li>
                <li class="energy">
                    Energie:
                    {{ consultation.kcal }}kcal
                </li>
                <li class="carbs">
                    Koolhydraten:
                    {{ consultation.carbohydrates }}g (= {{ consultation.carbcal }}kcal)
                </li>
                <li class="sugar">
                    Suikers:
                    {{ consultation.sugars }}g
                </li>
                <li class="protein">
                    Eiwitten:
                    {{ consultation.proteins }}g (= {{ consultation.protcal }}kcal)
                </li>
                <li class="fat">
                    Vetten:
                    {{ consultation.fats }}g (= {{ consultation.fatcal }}kcal)
                </li>
                <li class="cholesterol">
                    Cholesterol: &lt;
                    {{ consultation.cholesterol }}mg
                </li>
                <li class="fibre">
                    Vezels: &gt;
                    {{ consultation.fibres }}g
                </li>
                <li class="salt">
                    Natrium: &gt;
                    {{ consultation.sodium }}mg
                </li>
                {% if consultation.comments %}
                <li class="customerData">Opmerkingen</li>
                <li class="comments">
                    {{ consultation.comments }}
                </li>   
                {% endif %}
            </ul>
        </div>
        {% endfor %}
        
        <a class="smallButtonLink" href="{{ app.request.baseUrl }}/dietist/klanten/{{ customer.id }}/consultatie">Nieuwe consultatie toevoegen</a>   
    </div>   
    
    <div class="subfield" id="progression">
        <div id="chartWeight" class="chart"></div>
        <div id="chartBMI" class="chart"></div>
    </div>

    <div class="subfield" id="communication">
        <div class="top">
            <p>Stuur een bericht naar deze klant</p>
            <textarea id="sendMessage"></textarea>
            <p class="empty" style="display: none">Gelieve een bericht in te geven</p>
            <a href="#" id="addMessage">Verstuur</a>
        </div>
        <div id="commHistory">
        {% for key, comm in communication %}
            {% if comm.from_dietician_id %}
                <div class="comm fromMe">
                    <p class="time">{{ comm.dateFormat }}</p>
                    <p class="text"><img align="left" alt="{{ dietician.name }}" src="/img/userfiles/dietician/{{ dietician.photo }}">"{{ comm.text|raw }}"</p>
                </div>
            {% endif %}
            {% if comm.from_customer_id %}
                <div class="comm fromHim">
                    <p class="time">{{ comm.dateFormat }}</p>
                    <p class="text">"{{ comm.text|raw }}"</p>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    
{% endblock %}