{# extend the parent tpl #}
{% extends 'consoleCustomer.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Console' %}
{% set contentId = 'console' %}
{% set javascript = 'customer' %}
{% set gmaps = true %}

{# set variables in the console tpl #}
{% set dashboardActive = true %}

{% block subheader %}
    <h1>Welkom {{ customer.name }}</h1>
    <div id="interaction" class="clearfix">
        <img class="interactionPhoto" src='/img/userfiles/dietician/{{ customerDietician.photo }}' alt="{{ customerDietician.name|raw }}" title="{{ customerDietician.name|raw }}" />
        <p>
            <span id="dieticianName">{{ customerDietician.name|raw }}:</span><br />
            <span id="interactionText">"Heb je een vraag of wil je een afspraak maken? Contacteer me!"</span>
        </p>
    </div>
    
{% endblock %}


{% block consolePageContent %}
<div id="dashboard">
    <div id="menuDashboard">
        <h2 id="communicationLink" class="active">Communicatie</h2>
        <h2 id="consultationLink">Consultatie en contactgegevens</h2>
    </div>
    <div id="communication">
        <div class="top">
            <p>Stuur een bericht naar {{ customerDietician.name }}</p>
            <textarea id="sendMessage"></textarea>
            <p class="empty" style="display: none">Gelieve een bericht in te geven</p>
            <a href="#" id="addMessage">Verstuur</a>
        </div>
        <div id="commHistory">
        {% for key, comm in communication %}
            {% if comm.from_customer_id %}
                <div class="comm fromMe">
                    <p class="time">{{ comm.dateFormat }}</p>
                    <p class="text"><span class="ptext">{{ comm.text|raw }}</span></p>
                </div>
            {% endif %}
            {% if comm.from_dietician_id %}
                <div class="comm fromHim">
                    <p class="time">{{ comm.dateFormat }}</p>
                    <p class="text"><img align="left" alt="{{ customerDietician.name }}" src="/img/userfiles/dietician/{{ customerDietician.photo }}">{{ comm.text|raw }}</p>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
   
    <div id="consultation">
        <div class="sub">
            <h3>Contactgegevens</h3>
            <ul>
                <li>Infraligne Sint-Niklaas</li>
                <li>Pater Segersstraat 22</li>
                <li>9100 Sint-Niklaas</li>
                <li class="phone">03 765 06 64</li>
                <li class="email">{{ customerDietician.email|raw }}</li>
            </ul>
            <h3>Openingsuren</h3>
            <dl id="hours">
                <dt>maandag:</dt>
                <dd>09u00 - 21u00</dd>
                <dt>dinsdag:</dt>
                <dd> 09u00 - 21u00</dd>
                <dt>woensdag:</dt>
                <dd> 09u00 - 13u00 &amp; 17u00 - 21u00</dd>
                <dt>donderdag:</dt>
                <dd> 09u00 - 21u00</dd>
                <dt>vrijdag:</dt>
                <dd> 09u00 - 15u00</dd>
                <dt>zaterdag:</dt>
                <dd> 09u30 - 13u00</dd>
            </dl>            
        </div>
        <div class="sub">
            <h3>Recentste consultatie</h3>
            <p>Je recentste consultatie was op 
                <span id="lastConsultationDate">{{ lastConsultationDate }}</span>, dit is 
                <span id="daysAgo">&nbsp;</span> dagen geleden.
                Je kan altijd <span>telefonisch</span> een nieuwe consultatie aanvragen.
            </p>
            <h3>Locatie</h3>
            <div id="googleMap"></div>
        </div>
    </div>        
</div>
{% endblock %}