{# extend the parent tpl #}
{% extends 'consoleCustomer.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Maaltijden' %}
{% set contentId = 'console' %}
{% set javascript = 'customerMeals' %}

{# set variables in the console tpl #}
{% set foodActive = true %}

{% block subheader %}
    <input type="hidden" id="customerId" value="{{ customer.id }}">
    <h1>Maaltijden</h1>
    <div id="interaction" class="clearfix">
        <img class="interactionPhoto" src='/img/userfiles/dietician/{{ customerDietician.photo }}' alt="{{ customerDietician.name|raw }}" title="{{ customerDietician.name|raw }}" />
        <p>
            <span id="dieticianName">{{ customerDietician.name }}:</span><br />
            <span id="interactionText">"Wat heb je vandaag gegeten?"</span>
        </p>
    </div>    
{% endblock %}


{% block consolePageContent %}
    <div id="addNewMeal" class="clearfix">
        <h2>Voeg een nieuwe maaltijd toe</h2>
        <form id="newMeal" method="POST" class="clearfix">
            <h3 class="initial"><span class="step">Stap 1</span>Selecteer datum en type maaltijd</h3>
            <p class="initial">
                Je kan maaltijden ingeven van maximaal twee dagen terug <br /><br />
                <input disabled="disabled" autocomplete="off" type="text" id="datepicker" />
                <input type="hidden" autocomplete="off" id="date" name="date" />
            </p>
            <p class="initial">
                <select name="type" autocomplete="off" id="type">
                    <option value="0">Type maaltijd...</option>
                    {% for mealtype in mealtypes %}
                     <option value="{{ mealtype.id }}">{{ mealtype.name }}</option>
                    {% endfor %}
                </select>   
            </p>

            <div id="overviewMeal" class="typeDependant clearfix">
                <h3><span class="step">Stap 2</span>Voeg voedingsmiddelen toe aan <span id="mealHeader"></span>:<a href="#" class="editData tooltip" title="Wijzig" id="editInitial">Wijzig</a></h3>
                <p>
                    <label>Kies een voedingscategorie:</label>
                    <select autocomplete="off" id="category">
                        <option value="0">Selecteer</option>
                        {% for categorie in foodcategories %}
                         <option value="{{ categorie.id }}">{{ categorie.name }}</option>
                        {% endfor %}
                    </select>
                </p>
                <p class="categoryDependant">
                    <label>Zoek en selecteer voedingsmiddel:</label>
                    <input class="spinner" type="text" value="100" autocomplete="off" id="gram" /><span id="quantity">g </span>
                    <input class="small" autocomplete="off" type="text" id="food" />
                    <a href="#" title="Voeg toe" id="addFood">Voeg toe</a>
                    <span id="errorFood">&nbsp;</span>
                </p>
                <ul>
                    
                </ul>
                <p id="addThisMeal">
                    <input type="submit" name="addMeal" value="Voeg deze maaltijd toe" />
                </p>
            </div>
            
        </form>
    </div>
    <div id="addedMeals" class="clearfix">
        <h2>Jouw toegevoegde maaltijden</h2>
        <div id="datepickerShowMeals"></div>
        <input type="hidden" id="showMeals" autocomplete="off" />
        <div id="showMealsDate" class="clearfix">
            <h3></h3>
            <ul>
            </ul>
        </div>
    </div>
{% endblock %}